.loading-div {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.greeting {
	font-family: "Courgette", cursive;
	font-size: 2rem;
	color: var(--green);
}
.active-category {
	font-size: 1rem;
	color: var(--green);
	text-transform: uppercase;
	font-weight: bold;
	padding: 2rem 2rem 0 2rem;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.top-border {
	border-top: 2px solid var(--dark-gray);
	width: 100%;
}

.msg {
	font-style: italic;
	padding: 1rem 0rem;
}

.home-div {
	min-width: 100%;
	min-height: 50vh;
}
.remove-btn {
	color: white;
	border: none;
	font-weight: bold;
	background: var(--red);
	font-size: 0.8rem;
	padding: 0.2rem;
	border-radius: 0.2rem;
	cursor: pointer;
	width: fit-content;
}
