*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  margin: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

.big-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
  gap: 1rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.border {
  border: 3px solid dimgrey;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 15px -3px #000000;
  box-shadow: 2px 2px 15px -3px #000000;
}

.box {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.box img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.box .text {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box:hover {
  -webkit-transform: rotateZ(360deg) scale(0.5);
          transform: rotateZ(360deg) scale(0.5);
  border-radius: 50%;
  border: 0.5rem solid #2b2a2a;
}

.circle {
  margin: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.circle-1 {
  border: 15px solid rgba(21, 21, 71, 0.705);
  border-top-color: #b8b4b4;
}

.circle:hover {
  -webkit-animation: spinning 1s linear infinite;
          animation: spinning 1s linear infinite;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.card-container {
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  height: 500px;
  width: 300px;
  overflow-y: auto;
}

.card {
  width: 150px;
  border: 3px solid #555;
  padding: 1rem;
  border-radius: 0.25rem;
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: 150ms;
  transition: 150ms;
}

.card.show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.card:hover {
  background: #333;
  color: white;
}

.flip-card-container {
  padding: 0.5rem;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.flip-card {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.flip-card-container h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

.flip-card-container div.front {
  background: lightcoral;
  position: absolute;
}

.flip-card-container div.back {
  background: lightgray;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.card-shell:hover div.front {
  -webkit-animation: twirl 0.5s ease-in forwards;
          animation: twirl 0.5s ease-in forwards;
}

.card-shell:hover div.back {
  animation: twirl 0.51s 0.5s ease-out forwards reverse;
}

@-webkit-keyframes twirl {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
}

@keyframes twirl {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
}

.container-two {
  min-width: 500px;
  height: 400px;
  width: 500px;
  display: relative;
  overflow: hidden;
}

.sky,
.grass,
.road {
  position: relative;
}

.sky {
  height: 50%;
  background: skyblue;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 70rem;
  height: 50rem;
  top: -200px;
  left: -300px;
  opacity: 0.3;
}

.cloud:nth-child(2) {
  width: 18rem;
  height: 11rem;
  top: 1rem;
  left: 15rem;
  z-index: 1;
  animation: wind 70s linear infinite reverse;
}

.grass {
  height: 10%;
  background: seagreen;
}

.road {
  height: 40%;
  background: dimgrey;
  border-top: 0.5rem solid gray;
  border-bottom: 0.5rem solid gray;
}

.lines {
  height: 0;
  border: 0.2rem dashed white;
  position: absolute;
  width: 100%;
  top: 50%;
}

.truck {
  position: absolute;
  bottom: 3.5rem;
  left: 1rem;
  z-index: 2;
  width: 12rem;
  height: 10rem;
  -webkit-animation-name: drive;
          animation-name: drive;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.car {
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  width: 6rem;
  height: 6rem;
  animation: drive 5s infinite reverse linear, swerve 3s 2s both ease-in-out infinite;
}

@-webkit-keyframes drive {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
}

@keyframes drive {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
}

@-webkit-keyframes wind {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}

@keyframes wind {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}

@-webkit-keyframes swerve {
  0% {
    bottom: 0rem;
  }
  50% {
    bottom: 1.5rem;
  }
  80% {
    bottom: -1rem;
  }
  100% {
    bottom: 0rem;
  }
}

@keyframes swerve {
  0% {
    bottom: 0rem;
  }
  50% {
    bottom: 1.5rem;
  }
  80% {
    bottom: -1rem;
  }
  100% {
    bottom: 0rem;
  }
}
/*# sourceMappingURL=style.css.map */