* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$big-font: 4rem;
$primary: #0f4356;

@mixin flex($dir, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $dir;
}
