.intro {
  min-height: 100vh;
  @include flex(column, space-around);

  h2 {
    font-size: $big-font;
  }
  button {
    border: none;
    background: $primary;
    padding: 2rem 3rem;
    color: white;
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      background: darkslategray;
    }
  }
}
