* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grandparent {
  margin: 2rem auto;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}
.parent {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}
.child {
  background: green;
  width: 100px;
  height: 100px;
}
