* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.game {
  width: 25rem;
  height: 20rem;
  margin: 1rem;
  cursor: pointer;
  border: 4px solid rgb(48, 48, 48);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 10px 11px 26px 3px rgba(0, 0, 0, 0.31);
}
.game img {
  width: 100%;
  height: 100%;
}
.game:hover {
  opacity: 0.4;
}
