* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

.nav-bar {
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, right top, left top, from(#83bebb), to(#ace6f0));
  background: linear-gradient(to left, #83bebb, #ace6f0);
}

#logo {
  font-family: "Flavors", cursive;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #323232;
  padding-left: 2rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#logo a {
  text-decoration: none;
  color: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo img {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
}

.nav-links {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 70vw;
          flex: 2 1 70vw;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-links li {
  padding: 1rem;
  font-size: 1.5rem;
  color: #323232;
}

.nav-links li a {
  color: #323232;
  text-decoration: none;
}

.nav-links .dropdown {
  display: none;
}

.nav-links .dropdown li {
  font-size: 1.3rem;
  color: #e4e1e1;
  padding: 1rem;
}

.nav-links .dropdown a {
  text-decoration: none;
}

.nav-links .dropdown a i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nav-links .dropdown li:hover {
  background: whitesmoke;
  border-radius: 0.5rem;
}

.nav-links ul li:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  margin-top: 0.5rem;
  background: #e4e1e1;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-links ul li:hover .dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.nav-links ul li:hover .dropdown ul li {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px dotted white;
  border-radius: 0;
  text-align: left;
}

.nav-links ul li:hover .dropdown ul li:last-child {
  border-bottom: none;
}

.nav-links ul li:hover .dropdown ul li a:hover {
  color: coral;
}

.dropdown .sub-dropdown {
  display: none;
}

.dropdown ul li:hover .sub-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 85%;
  margin-top: -2rem;
  margin-left: 85%;
  background: #e4e1e1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown ul li:hover .sub-dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-links .dropdown .sub-dropdown li {
  font-size: 1rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.nav-links .dropdown .sub-dropdown li:hover {
  background: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0vh;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#83bebb), to(#ace6f0));
  background: linear-gradient(to left, #83bebb, #ace6f0);
  color: #323232;
  font-size: 1.2rem;
}

.contact-info {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
  margin: 0rem 1rem;
}

.contact-email a {
  text-decoration: none;
  color: inherit;
}

.contact-social img {
  width: 20px;
  height: 20px;
}

.main-container {
  width: 100%;
  height: 88vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#e0dede), to(#9b9999));
  background: linear-gradient(white, #e0dede, #9b9999);
  background-repeat: repeat-x;
}

.main-iframe {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */